.proposition {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: visible;

  &__header_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center start;
    margin-bottom: 1rem;
    grid-gap: 2rem;
    width: 100%;
  }
  &__header {
    color: $Accent;
  }
  &__desc {
    color: $White;
    text-align: justify;
    margin-bottom: 1rem;
  }
  &__img {
    height: 9rem;
    width: 100%;
    object-fit: cover;
    overflow: visible;
    margin-bottom: 1rem;
  }

  @include md {
    &__img {
      height: 12rem;
    }
  }
  @include lg {
    &__img {
      height: 13.5rem;
    }
  }

  @include ul {
    &__img {
      height: 11.25rem;
      width: 18rem;
    }
  }

  button {
    margin-top: 3rem;
  }

  .entry {
    a {
      font-weight: medium;
      font-size: 1.25rem;
    }
  }
}
