.timeline {
  min-width: 400px;
  &__line {
    display: grid;
    grid-template-rows: 1fr;
    height: 30px;
    background-color: rgba($Gray, 0.2);
  }
  &__periods {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 0.6rem;
  }
  &__divisior {
    height: 100%;
    width: 1px;
    background-color: $Gray;
  }
  &__month {
    background-color: white;
    opacity: 0;
    cursor: pointer;
    &:hover {
      opacity: 0.3;
      height: 100%;
      width: 100%;
    }
  }
}
