.timeline {
  min-width: 400px;
  &__line {
    display: grid;
    grid-template-rows: 1fr;
    height: 30px;
    background-color: #bebebe;
    opacity: 0.2;
  }
  &__divisior {
    height: 100%;
    width: 2px;
    background-color: red;
  }
}
