.landing {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @include md {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  @include lg {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @include xl {
    padding: 4rem 6rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @include ul {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  &__propositions {
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    grid-column: 1/8;
    grid-row: 1/4;
  }

  &__dim {
    width: 100%;
    height: 100%;
    background-color: rgba($Dim, 0.93);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
  }
}
