// INFO: I seperated colors to more easily swap certain colors later on;
// here it's a bit overkill but a good practice.

$PolishRed: #de3434;
$Gray: #bebebe;
$Black: #0000;
$White: #ffff;

$Accent: $PolishRed;
$Fg-main: $White;
$Dim: $Black;
