@import "colors";
@import "fonts";
@import "breakpoints";
@import "styles/components/all";
@import "styles/pages/all";

* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.875rem;
}
h4 {
  font-size: 1.625rem;
}
h5 {
  font-size: 1.375rem;
}
h6 {
  font-size: 1.375rem;
}

#root,
body,
html {
  height: 100vh;
  width: 100vw;
  font-size: 12px;
  color: $Fg-main;
  overflow: hidden;

  @include md {
    font-size: 16px;
  }

  @include lg {
    font-size: 14px;
  }

  @include xl {
    font-size: 16px;
  }

  @include ul {
    font-size: 20px;
  }
}

button {
  border: 2px solid $White;
  color: $White;
  border-radius: 5px;
  background: transparent;
  height: 2.87rem;
  width: 13.6rem;
  font-size: 1.375rem;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

.demo {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 1rem;
  width: 100vw;
  height: 100vh;
  background-color: orange;
}
